/* Add your custom styles in styles.css */
body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 100%; /* Change max-width to 100% for better responsiveness */
}

.custom-gray-bg {
  background-color: #e4e0e0; /* Use your desired shade of gray */
}

.custom-button-color {
  background-color: #3daf04; /* Replace with your desired color */
  color: #fff; /* Set text color to white or another contrasting color */
}

.navbar-nav .nav-link {
  color: white; /* Set text color to white */
  position: relative; /* Enable positioning for the ::after pseudo-element */
  margin-right: 30px; /* Decrease the space between the categories */
}

.navbar-nav .nav-link.selected::after {
  content: "";
  display: block;
  border-bottom: 2px solid white; /* Add a white narrow bar below the selected category */
  position: absolute;
  bottom: -2px; /* Adjust the distance from the bottom to move the white bar closer to the end of the navbar */
  left: 0;
  right: 0;
}

.parent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjust column sizes for responsiveness */
  grid-gap: 20px; /* Use grid-gap for uniform spacing */
  margin: 20px; /* Add margin to the parent grid */
}

.form-group {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  margin-bottom: 20px; /* Add margin-bottom for spacing between form groups */
}

.form-label {
  margin-bottom: 10px; /* Increase margin-bottom for better separation */
  font-weight: bold;
}

.form-select,
.form-control {
  width: 100%;
  padding: 10px; /* Adjust padding for better consistency */
  box-sizing: border-box;
  margin-bottom: 10px; /* Add margin-bottom for spacing between form controls */
}

.todo-panel {
  grid-column: span 4; /* Make the to-do panel span all columns in the grid */
  margin: 20px;
}

.todo-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

.task-list {
  list-style-type: none;
  padding: 0;
}

.task-item {
  margin-bottom: 10px;
}

.img-account-profile {
  max-width: 100%; /* Ensure the image fits within its container */
  height: auto; /* Maintain aspect ratio */
}

.card {
  box-shadow: 0 0.15rem 1.75rem 0 rgba(33, 40, 50, 0.15); /* Use rgba for transparent shadow */
}

.search-table {
  padding: 5%; /* Reduce padding for better spacing */
}

.search-box {
  background: #c1c1c1;
  border: 1px solid #ababab;
  padding: 2%; /* Adjust padding for better appearance */
}

.search-box input:focus {
  box-shadow: none;
  border: 2px solid #eeeeee;
}

.search-list {
  background: #fff;
  border: 1px solid #ababab;
  border-top: none;
}

.search-list h3 {
  background: #eee;
  padding: 3%;
  margin-bottom: 0;
}